*{
    font-family: helvetica, sans-serif, arial;
    background: #fafafa;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#main-banner,
#form-container{
    flex: 1 1 0;
    width: 50%;
    
}

#main-banner{
    text-align: right;
}

#main-banner img{
    margin-right: -15px;
}

#form-container{
    text-align: center;
    
}

.form-box{
    background-color: #fff;
    border: 1px solid #bdbdbd;
    width: 350px;
    margin-top: 30px;
}

.form-box .logo-insta{
    width: 175px;
    height: 51px;
    margin: 30px auto 20px;
    background-color: #fff;
}

#login-form{
    margin-top: 20px;
    background-color: #fff;
    
}

#login-form input{
    display: block;
    padding: 12px 9px;
    font-size: 12px;
    width: 268px;
    margin: 5px auto;
    background-color: #fafafa;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}

#login-form input[type=submit]{
    background-color: #b2dffc;
    color: #fff;
    border-color: #b2dffc;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

.separator{
    position: relative;
}

.separator .line{
    border-top: 1px solid #dbdbdb;
    width: 268px;
    margin: 25px auto 35px;
}

.separator span{
    position: absolute;
    background-color: #fff;
    color: #bbb;
    width: 50px;
    text-transform: uppercase;
    top: -6px;
    left: 50%;
    margin-left: -25px;
    font-weight: bold;
    font-size: 14px;
}

.other-links{
    background-color: #fff;
}

#facebook-login{
    margin-bottom: 25px;
}

#facebook-login a{
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#facebook-login img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#facebook-login span{
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}    

#forgot-password{
    margin-bottom: 20px;
    font-size: 12px;
    background-color: #fff;
}

#forgot-password a{
    text-decoration: none;
    color: #373799;
}

#register-container{
    width: 350px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    margin-top: 10px;
    padding: 25px;
}

#register-container p{
    font-size: 14px;
    color: #262626;
}

#register-container a{
    text-decoration: none;
    color: #4a95f6;
    font-weight: bold;
}
