*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}



.pai{
    width: 50%;
    height: 300px;
    background-color: aqua;
    border-radius: 50%;
}

.filho{
    width: 300px;
    height: 150px;
    background-color: #000;
    border: 2px solid #393820;
}

.position{
    width: 100%;
    height: 100px;
    background-color: blue;
    position: relative;
}

.absolute{
    width: 60px;
    height: 60px;
    background-color: chocolate;
    position: absolute;
    top: 20px;
}

.father{
    width: 50%;
    height: 500px;
    background-color: darkmagenta;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.son{
    width: 100%;
    height: 100px;
    background-color: black;
    color: #fff;
}
.son1{
    width: 100%;
    height: 100px;
    background-color: #093822;
    color: #fff;
    flex-grow: 2;
}
.son2{
    width: 100%;
    height: 100px;
    background-color: #038213;
    color: #fff;
}

.animation{
    width: 100%;
    height: 400px;
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.son5{
    width: 100px;
    height: 100px;
    background-color: #038213;
    color: #fff;
    animation: animacao;
    animation-duration: 5s;
}

@keyframes animacao{
    from{
        border-radius: 0;
        background-color: #038213;
    }

    to{
        border-radius: 50%;
        background-color: aqua;
    }
}