.animation-div{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: animacao;
    animation-duration: 3s;
    
}

@keyframes animacao{
    from{
        background-color: red;
        border-radius: 0%;
    }

    to{
        background-color: aqua;
        border-radius: 50%;
    }
}

.animation-div2{
    width: 200px;
    height: 200px;
    background-color: brown;
    position: relative;
    animation-name: animacao2;
    animation-duration: 6s;
}

@keyframes animacao2{
    0% {}
    30% {width: 100px;}
    50% {backgroud-color: blue;}
    80% {align-items: center; background-color: black;}
    100% {left: 100px; width: 200px; background-color: blueviolet;}
}

.animation-div3{
    width: 100px;
    height: 100px;
    background-color: #329324;
    position: relative;
    animation-name: animacao3;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes animacao3{
    from{left: 0;}

    to {background-color: blueviolet; left: 100px;}
}

/*gradient*/
.gradient-box{
    width: 500px;
    height: 200px;
    position: relative;
    margin: 20px;
}

.gradient1{
    background-image: linear-gradient(purple, blue);  
}

.gradient2{
    background-image: linear-gradient(to right, purple, blue);
}

.gradient3{
    background-image: linear-gradient(to left, purple, blue);
}

.gradient4{
    background-image: linear-gradient(to top right, purple, blue);
}

.gradient5{
    background-image: radial-gradient(#323232 10%, #238238 30%, #fff);
}