/*flex direction*/
.flexdirection{
    display: flex;
    background-color: #ccc;
    flex-direction: column;
}

.wrap{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.box{
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

h2{
    display: flex;
    justify-content: center;
}

.justify{
    display: flex;
    justify-content: center;
}

.justify .box{
    width: 50px;
}

.align{
    display: flex;
    height: 200px;
    border: 1px soli blue;
}

.align .box{
    align-items: center;
    justify-content: center;
    height: auto;
}
