/*flex direction*/
.flexdirection{
    display: flex;
    background-color: #ccc;
    flex-direction: column;
}

.wrap{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.box{
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

h2{
    display: flex;
    justify-content: center;
}

.justify{
    display: flex;
    justify-content: center;
}

.justify .box{
    width: 50px;
}

.align{
    display: flex;
    height: 200px;
    border: 1px soli blue;
}

.align .box{
    align-items: center;
    justify-content: center;
    height: auto;
}

.gap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 10px;
}

.gap .box{
   width: 33%;
}

.order{
    display: flex;
}

#one{
    order:1;
}

#two{
    order:2;
}
#three{
    order:3;
}

.grow{
    display: flex;
}

.grow .box{
    flex: 1;
}

.grow .big{
    flex: 2;
}

.basis{
    display: flex;
}

.basis .box{
    flex-basis: 20px;
}

.basis .big{
    flex: 1;
}

.shrink{
    display: flex;
}

.shrink .box{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small{
    flex-shrink: 2;
}

.shorthand{
    display: flex;
}

.shorthand .box{
    flex: 1 1 50px;
    width: auto;
}