@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body, ul{
    font-family: 'open sans', 'sans serif';
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
.container{
    height: 100vh;
    position: relative;
}

/*sidebar*/
.sidebar{
    width: 410px;
    height: 100%;
    display: inline-block;
    position: relative;
}

.toolbar-container{
    width: 100%;
    height: 60px;
    background-color: #eee;
}

.user-photo{
    width: 40px;
    position: absolute;
    border-radius: 50%;
    left: 15px;
    top: 10px;
    background-color: #ccc;
}

.auxicons-toolbar-container{
    float: right;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
}

.auxicons-toolbar-container i{
    color: #80868a;
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.notification-container{
    
}