*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}                    

body{
    background-color: #83D4A9;
}

#header{
    background-color: #00967D;
    width: 80%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
}

.container-plan li{
    list-style: none;
    
}

.container-plan a{
    text-decoration: none;
}

#header .header-title{
    color: #F5E7D3;
    font-size: 3rem;
    padding: 20px;
}

.container{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-plan{
    width: 50%;
    display: flex;
    padding: 15px;
    gap: 20px;

}

.container-plan a{
    font-size: 20px;
    color: #F5E7D3;

}

.container-plan .select{
    background-color: #DB6816;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}

/* CONTAINER MAIN */



.main-container-title{
    color: #F5E7D3;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;

}

.container-price{
    display: flex;
    justify-content: center;
    gap: 24px;
}

#container-plan-optionals{
    flex-basis: 250px;
    background-color: #00967D;
    padding: 30px;
}

#container-plan-optionals h2{
    color:#F5E7D3;
    padding-bottom: 15px;
    border-bottom: 2px solid #DB6816;
}

#container-plan-optionals p{
    color: #F5E7D3;
    padding: 15px 0 15px 0;
    font-size: 15px;
    
}

#container-plan-optionals b{
    font-size: 24px;
}

.container-optionals li{
    color: #F5E7D3; 
    
}

.container-optionals li{
    padding-bottom: 5px;       
    
}



.button{
    font-weight: 800;
    background-color: #DB6816;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: #F5E7D3;
    font-size: 18px;
    cursor: pointer;
}

/* HOVER EFECTS */
.container-plan a:hover{
    color:#83D4A9;
}

.container-plan .select:hover{
    color:#DB6816;
    background-color: #F5E7D3;
    border: 2px solid #DB6816;
}

.button:hover{
    color:#DB6816;
    background-color: #F5E7D3;
    border: 2px solid #DB6816;
}