*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ff7833;
    --secondary-color: #313338;
    --secondary-color-light: #444856;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    margin: 0;
    color: #e7e7e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
}

#main-header{
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
}

a{
    color: inherit;
}

#main-container{
    background-color: var(--secondary-color-light);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

#main-header,
#main-container{
    font-size: 1.6rem;
}

.header-logo{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.main-navegation{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

.main-navegation ul{
    list-style-type: none;
    padding: 0;
}

.main-navegation ul a {
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    transition: .5s;
    background-color: transparent;
}

.main-navegation ul a:hover{
    background-color: var(--secondary-color-light);
    padding-right: 1rem;
}

.main-navegation li{
    border-bottom: 1px solid #fbfbfb;
}