*{
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: aquamarine;
}


h1{
    color: #fff;
}

#main-container{
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.container-list{
    list-style: none;
}

.list{
    display: flex;
    border-bottom: 1px solid #eee;
}

.list-item1 img{
    height: 80px;
    border-radius: 50%;
    padding: 16px;
}

.list-item2{
    height: 70px;
    padding: 0 20px;
    margin-top: 20px;

}

.list-item2 p {
    padding-bottom: 20px;
}

.list .lnr-trash{
    background-color: aqua;
    width: 100%;
}

