*{
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(19, 73, 109);
}


h1{
    color: #fff;
    margin-bottom: 15px;
}

#main-container{
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.container-list{
    list-style: none;
    
}

.list{
    display: flex;
    border-bottom: 1px solid #eee;
    
}



.list-item1 img{
    height: 80px;
    border-radius: 50%;
    padding: 16px;
}

.list-item2{
    height: 70px;
    margin: auto 20px;
    flex: 1;
  

}

.list-item2 p {
    padding-bottom: 20px;
    font-weight: 500;
    padding-top: 5px;
    
}

.list-item2 .list-item2-name{
    color: #2b2929;
    font-size: 20px;
    margin: 0;
}

.list-item2 .list-item2-email{
    color: #aaa;
    margin: 0;
}


.list .lnr-trash,
.lnr-pencil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    color: #ccc;

    opacity: 0;
}

.list:hover{
    background-color: #e8e8e8;
    cursor: pointer;
}

.list:hover .lnr{
    opacity: 1;
}
